@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "Betaal pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="betalen-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <h2>Betalingswijze</h2>
        <br>
        <p>Bij Bioscoop De Beschouwburg maken wij gebruik van cryptocurrency Banano als betalingsmiddel. Banano is een moderne 4de-generatie cryptocurrency en is een aftakking van de Nano cryptocurrency. Deze cryptomunt is eenvoudig te gebruiken aangezien de transacties instant en kostenloos zijn, er gaat niks verloren bij uw transactie en er komen geen extra kosten bij.</p>

        <p>Ban_adres van De Beschouwburg: ban_3oa5rpkwkpdhbuh6szzf9d4479ndi83a3nmjfwohf4yaqjfsogxxy5o55niu</p>
        <img src="https://github.com/Thepenguincoder/Informatica-5vwo-project/blob/OkayWeWorkFromThisNow/banano.png?raw=true"/>
        <p>Gebruikmakende van de app:</p>
        <p>QR Code:</p>
        <ol>
            <li>Open de app "Kalium" en klik op Send</li>
            <li>Klik op Scan QR Code en scan de QR Code van De Beschouwburg die hier boven weergegeven staat</li>
            <li>Voer het juiste geldbedrag in dat aangegeven staat op de site, dit wordt automatisch geconverteerd naar het juiste aantal Banano</li>
            <li>Klik op Send en dan is uw betaling voltooid</li>
        </ol>
        <p>Of anders:</p>
        <ol>
            <li>Open de app "Kalium" en klik op Send</li>
            <li>Voer het ban_adres in van De Beschouwburg</li>
            <li>Voer het juiste geldbedrag in dat aangegeven staat op de site, dit wordt automatisch geconverteerd naar het juiste aantal Banano</li>
            <li>Klik op Send en dan is uw betaling voltooid</li>
        </ol>
        <br>
        <p>Gebruikmakende van browser based wallet:</p>
        <ol>
            <li>Navigeer naar uw wallet op de website: https://vault.banano.cc/ Dit kan zowel gedaan worden op uw telefoon of computer</li>
            <li>Voer het ban_adres in van De Beschouwburg </li>
            <li>Voer het juiste geldbedrag in dat aangegeven staat op de site, dit wordt automatisch geconverteerd naar het juiste aantal Banano</li>
            <li>Klik op Send Banano en dan is uw betaling voltooid</li>
        </ol>
    </div>
</div>

<style>
    h2{
        font-size: xx-large;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>