@{
    ViewData["Title"] = "404 error";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="contact-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <h2 id="spam"></h2>
        <p></p>
    </div>
</div>
