@{
    ViewData["Title"] = "Error Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hallo 404</h1>
<p id="spam"></p>
<br>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> klik hier om terug te gaan naar de homepage</a>