@model Informatica_5vwo_project.Databases.Films



@{
    ViewData["Title"] = "film pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Naam</h1>

<p>@Model.Beschrijving</p>




<style>
    h1 {
        color: white;
    }

    p {
        color: white;
    }
</style>