@model Informatica_5vwo_project.Databases.Films



@{
    ViewData["Title"] = "film pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Naam</h1>

<p>@Model.Beschrijving</p>

<img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/download%20(9).png">