@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "Contact pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="contact-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">

        <h2>Bedankt voor uw feedback!</h2>
        <p><a href="https://localhost:44314/contact">Klik hier om nog een bericht naar ons te verzenden</a></p>
    </div>
</div>

<style>

    .verplicht-bericht {
        font-style: italic;
    }

    .gelukt {
        font-size: xx-large;
    }
</style>