@{
    ViewData["Title"] = "Home Page";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Home-content">
    <div class="film-poster">
            <img class="film-poster1" src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM%40._V1_UY1200_CR107%2C0%2C630%2C1200_AL_.jpg" />
            <img class="film-poster2" src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/A1t8xCe9jwL._AC_SL1500_.jpg" />
            <img class="film-poster3" src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/81EBp0vOZZL._AC_SL1329_.jpg" />
    </div>
    <h1><a class="body-text" href="https://localhost:44314/overzicht">Bekijk hier onze film collectie</a></h1>
</div>

<style>

    .Home-content {
        background-image: url(https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/cinemaitaliano.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 85vh;
        width: 100vw;
        opacity: 0.9;
    }

    .film-poster img {
        border: 1px solid #F59C00;
        object-fit: contain;
        background-color: black;
        margin-top: 10vh;
    }

    .film-poster1 {
        height: 40vh;
        min-height: 30vw;
        max-height: 45vw;
        width: 20vw;
        margin-left: 19vw;
    }

    .film-poster2 {
        height: 40vh;
        min-height: 30vw;
        max-height: 45vw;
        width: 20vw;
        margin-left: 1vw;
    }

    .film-poster3 {
        height: 40vh;
        min-height: 30vw;
        max-height: 45vw;
        width: 20vw;
        margin-left: 1vw;
    }

    .body-text {
        color: white;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: xx-large;
        line-height: 28px; /* Gray 6 */
        color: #F2F2F2;
        display: block;
        margin-left: 39.5vw;
        margin-right: auto;
        width: 30%;
    }
</style>
