@{
    ViewData["Title"] = "Home Page";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Home-page">
    <img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/MV5BNzRlNGUzMmEtYTg0Ni00N2U2LTg4YWEtNDdlNmMwYjBlZDQ0XkEyXkFqcGdeQXVyMTkxNjUyNQ%40%40._V1_UY1200_CR90%2C0%2C630%2C1200_AL_.jpg" style="width:30vh;position:center;z-index:1;border: 2px solid #F59C00;object-fit:contain" />
    <img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/A1t8xCe9jwL._AC_SL1500_.jpg" style="background-position:center;z-index:1;border: 2px solid #F59C00;position:absolute;object-fit:contain;" />
    <img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/81EBp0vOZZL._AC_SL1329_.jpg" style="background-position:center;z-index:1;border: 2px solid #F59C00;position:absolute;object-fit:contain" />
    <h1 style="font-family: Roboto; font-style: normal; font-weight: bold; font-size: xx-large; line-height: 28px; /* Gray 6 */ color: #F2F2F2;">Bekijk hier onze film collectie</h1>
</div>

<style>
    .Home-page {
        background-image: url(https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/cinemaitaliano.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.7;
    }
</style>
