@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "login pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-content">

    <h1>@ViewData["Title"]</h1>
    <div class="login-blok">
        <h1 class="display-4">Welkom, @ViewData["user"]</h1>
        <h1 class="display-4">Je wachtwoord is: @ViewData["password"]</h1>

        <form method="post">
            <div>Gebruikersnaam: <input type="text" name="username" /></div>
            <div>Wachtwoord: <input type="text" name="password" /></div>
            <input type="submit" value="verstuur" />
        </form>
    </div>
</div>

<style>
    form {
        color: white;
        padding-left: 1vw;
    }

    .login-content{

    }

    .login-blok {
        background-color: orangered;
        padding-top: 2vw;
        width: 80vw;
        padding-bottom: 20vw;
        border-radius: 5px;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 10vw;
    }

    h1 {
        margin-left: 11vw;
    }
</style>