@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "Login pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="login-content">

    <h1 class="titel">@ViewData["Title"]</h1>
    <div class="blok">
        <form method="post">
            <p>Emailadres:</p>
            <div><input type="text" name="email" placeholder="Uw emailadres" /></div>
            <p>Wachtwoord:</p>
            <div><input type="text" name="wachtwoord" placeholder="Uw wachtwoord" /></div>
            <div><input type="submit" value="Log in" /></div>
        </form>
        <p><a class="account" href="https://localhost:44314/signup">Klik hier om een account aan te maken.</a></p>
        <p><a class="account" href="https://localhost:44314/profiel">Klik hier om naar uw profiel pagina te gaan.</a></p>
    </div>
</div>
