@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "login pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="login-content">

    <h1 class="titel">@ViewData["Title"]</h1>
    <div class="blok">
        <p>Welkom, @ViewData["user"]</p>
        <p>Je wachtwoord is: @ViewData["password"]</p>

        <form method="post">
            <div>Gebruikersnaam: <input type="text" name="username" /></div>
            <div>Wachtwoord: <input type="text" name="password" /></div>
            <input type="submit" value="verstuur" />
        </form>
    </div>
</div>

<style>
    form {
        color: white;
    }


</style>