@model List<string>

@{
    ViewData["Title"] = "overzich pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class"names-lijst">
    <h1>Alle Namen!</h1>
    @foreach(string naam in Model)
    {
        <p>@naam</p>
    }
</div>

<style>
    h1 {
        margin-top: 15vh;
    }
</style>
