@using Informatica_5vwo_project.Databases
@model List<Films>

@{
    ViewData["Title"] = "overzich pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class"page-content">
    <h1>Alle Films!</h1>
    @foreach(Films p in Model)
    {
        <p>@p.Id - @p.Naam - @p.Beschrijving </p>
    }
</div>




<style>
    h1 {
        color: white;
    }

    p {
        color:white;
    }
</style>
