@using Informatica_5vwo_project.Databases
@model List<Films>

@{
    ViewData["Title"] = "overzich pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class"page-content">
    <h1>Alle Films!</h1>
    @foreach (Films p in Model)
    {
        <p><a href="https://localhost:44314/films/@p.Id">@p.Id - @p.Naam - @p.Beschrijving</a></p>
    }
</div>

<style>
    a {
        color: white;
        text-decoration: none;
    }
</style>
