<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="~/404.aspx"/>
			<error statusCode="500" redirect="~/500.aspx"/>
		</customErrors>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="DetailedLocalOnly">
			<remove statusCode="404"/>
			<error statusCode="404" path="404.html" responseMode="File"/>
			<remove statusCode="500"/>
			<error statusCode="500" path="500.html" responseMode="File"/>
		</httpErrors>
	</system.webServer>
</configuration>