<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="~/css/site1.css" />-->
    <meta charset="utf-8">
    <title>Machine learning</title>
    <link rel="icon" type="image/x-icon" href="/images/Screenshot 2020-03-27 at 14.08.08.png" />
</head>
<body>
    @RenderBody()
    <div class="page">
        <header class="nav-header">
            <nav class="top-logo">
                <img src="" />
            </nav>
            <nav class="top-buttons">
                <ul>
                    <a href="https://localhost:44314/overzicht">Overzicht</a>
                    <a href="https://localhost:44314/films/1">Details</a>
                </ul>
            </nav>
        </header>
        <div class="page-content">

        </div>
</body>








<style>
    html, body {
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
    }

    .nav-header {
        background-color: #FA630D;
        width: 100vw;
        height: 15vh;
        margin-top: -15vh;
        position: fixed;
        z-index: 2;
    }

    .page-content {
        background-color: black;
        width: 100vw;
        min-height: 100vh;
        margin-top: 15vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .top-logo {
;       float: left;
        width:10vw;
        
    }

    .top-buttons ul {
        font-size: medium;
    }

    .top-buttons a {
        margin: 4vh 0vw 0vw 2vw;
        float: left;
        color: black;
        font-size: large;
        text-align: justify;
        text-decoration: none;
        padding: 0vw 0vw 0vw 2vw;
    }

    h1 {
        color: white;
    }

    p {
        color: white;
    }
</style>

</html>

