<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8">
    <title>Machine learning</title>
    <link rel="icon" type="image/x-icon" href="/images/Screenshot 2020-03-27 at 14.08.08.png" />
</head>
<body>
    @RenderBody()
    <div class="page">
        <header class="nav-header">

        </header>
</body>
</html>