<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/shared1.css" />
    <meta charset="utf-8">
    <title>De Beschouwburg</title>
    <link rel="icon" type="image/x-icon" href="https://github.com/Thepenguincoder/Informatica-5vwo-project/blob/OkayWeWorkFromThisNow/LogoOnCrack.png?raw=true" />
</head>
<body>
        <header class="nav-header">
            <nav class="top-logo">
                <img src="https://github.com/Thepenguincoder/Informatica-5vwo-project/blob/OkayWeWorkFromThisNow/LogoOnCrack.png?raw=true" />
            </nav>
            <nav class="top-buttons">
                    <a href="/">Home</a>
                    <a href="/overzicht">Overzicht</a>
                    <a href="/contact">Contact</a>
                    <a href="/login">Login</a>
            </nav>
        </header>
        <div class="page-content">
            @RenderBody()
        </div>
</body>





